@tailwind base;
@tailwind components;
@tailwind utilities;

/* body,
html,
:root {
  height: 100%;
} */
* {
  margin: 0;
  padding: 0;
}
.carousel .control-dots {
  /* margin: 0 !important; */
  margin: -5px 0 !important;
}

.overflowed-product-images::-webkit-scrollbar{
  width: 5px;
}
.overflowed-product-images::-webkit-scrollbar-thumb{
  background: gray;
}